[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ILoReg"]
	path = ILoReg
	url = https://github.com/elolab/iloreg
[submodule "RolDE"]
	path = RolDE
	url = https://github.com/elolab/rolde
